agm-map {
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 0;
    /* margin-top: 400px; */
}

body {
    padding-top: 120px;
  }

.jumbotron {
    background-image: url('src/assets/images/back4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 0%;
}


/* .Device {
    background-image: url('src/assets/images/sensor.png');
}

.Mode {
    background-image: url('src/assets/images/mode_2.jpg');
    background-position: right;
}

.Real {
    background-image: url('src/assets/images/real.jpg');
    background-position: right;
}

.History {
    background-image: url('src/assets/images/history.jpg');
    background-position: left;
} */