<nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon ion-md-menu"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="container">
      <img src="assets/images/the-healer.png" class="img-fluid nav-logo-desktop" alt="Company Logo" id="logo">
      <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
        <li class="nav-item nav-custom-link">
          <a class="nav-link" (click)="goToHome()" [class.active]="activetab === 'home'">Home <i
              class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
        <li class="nav-item nav-custom-link btn btn-demo-small" *ngIf="!isLoggedIn">
          <a class="nav-link" (click)="loginAndLogout()">Login / Sign Up<i
              class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
        <li class="nav-item nav-custom-link btn btn-demo-small" style="margin-left: 10px" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="loginAndLogout()">Log Out<i
              class="icon ion-ios-arrow-forward icon-mobile"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>