<section id="hero">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <img src="assets/images/{{intro.BackImg}}" class="img-fluid" alt="Demo image" id="firstpic">
            </div>
            <div class="col-md-7 content-box hero-content">
              <span>{{intro.brand}}</span>
              <h1>{{intro.t1}} <b>{{intro.t1_2}}</b></h1>
              <p>{{intro.p1}}</p>
              <a href="{{intro.BtnLink}}" class="btn btn-regular">{{intro.BtnText}}</a>
            </div>
          </div>
        </div>
      </section>
