<!DOCTYPE html>
<html lang="en">


<body id="page-top">

  <header class="bg-primary text-white" >
    <div class="container text-center">
      <h1>{{name}}</h1>
      <p class="lead" style="color: cyan">The Personnel Profile</p>
      <p class="lead" style="color: cyan; font-size: 2.5em;">{{telephone}}</p>
      <p class="lead" style="color: cyan">{{email}}</p>
    </div>
  </header>

  <div class="card" style="width: 25rem;">
    <div class="card-header">
        Basic Info
    </div>
    <div class="card-body">
        <p class="card-text">Name: {{name}}</p>
        <p class="card-text">Age: {{age}} yrs</p>
        <p class="card-text">BMI: {{BMI}}</p>

    </div>

    <div class="facts">
        <!-- <h5 class="card-title">Points to Note</h5>
        <span class="badge badge-danger">Smoker</span>
        <span class="badge badge-danger">Takes Regular Exercises</span>
        <span class="badge badge-danger">Takes Alcohol</span>
        <span class="badge badge-danger">Diabetes</span>
        <span class="badge badge-danger">High Blood Pressure</span>
        <span class="badge badge-danger">2 Previous Heart Attacks</span>
        <span class="badge badge-danger">Arrythmia</span> -->
        <!-- <span class="badge badge-danger">Dark</span> -->
        
        <button style="background: brown" (click)="deletePatient()" class="btn btn-primary btn-block mt-3">Remove me as a Patient</button>
    </div>
 </div>


</body>

</html>

