header {
    padding: 156px 0 100px;
  }
  
  section {
    padding: 150px 0;
  }

.card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.facts  {
    margin: 10px;
}

.badge {
    margin: 5px;
}