<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />



<div class="container" style="padding-top: 100px">
    <div id="element1">
        <input style="width: 400px" class="form-control" type="text" placeholder="Type keywords" aria-label="Search">
    </div>

    <div style="display:inline-block; padding-left: 20px;" *ngIf=showFilters>
        <div class="dropdown" style="display:inline-block; padding-left: 20px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manufacturer
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">SAMSUNG</a>
                <a class="dropdown-item" href="#">HUAWEI</a>
                <a class="dropdown-item" href="#">APPLE</a>
            </div>
        </div>
        <div id="element1" style="padding-left: 20px">
            <input style="width: 120px" class="form-control" type="number" placeholder="price (Rs.)" aria-label="price">
        </div>
        <div class="dropdown" style="display:inline-block; padding-left: 20px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Criteria
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Greater than</a>
                <a class="dropdown-item" href="#">Less than</a>
            </div>
        </div>
    </div>
    <div id="element2" style="float: right;">
        <div class="custom-control custom-checkbox" style="display:inline-block; padding-right: 20px">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" (input)="toggleFilterSearch()">
            <label class="custom-control-label" for="defaultUnchecked">Filter</label>
        </div>
        <button type="button" class="btn btn-primary" style="width: 120px">Search</button>
    </div>

    <!-- THE SPECS OF THE PRODUCTS-->
    <div class="row" style="padding-top: 20px">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#">
                        <img class="pic-1"
                            src="https://www.marketphones.com/21390-large_default/apple-iphone-11-128gb-red.jpg">
                        <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-2.jpeg"> -->
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Favourites"><i class="fa fa-shopping-bag"></i></a></li>
                        <!-- <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li> -->
                    </ul>
                    <a class="add-to-cart" href="">Add to Favourites</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">iPhone 11</a></h3>
                    <span class="price">Rs. 180000.00</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#">
                        <img class="pic-1" src="https://www.gizmochina.com/wp-content/uploads/2018/12/m20-500x500.jpg">
                        <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-4.jpeg"> -->
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a class="add-to-cart" href="">Add to cart</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Yellow Top</a></h3>
                    <span class="price">$699.99</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#">
                        <img class="pic-1"
                            src="https://mobilevision.lk/wp-content/uploads/2019/09/samsung-galaxy-m20-mobile-vision-galle-2.jpg">
                        <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-6.jpeg"> -->
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a class="add-to-cart" href="">Add to cart</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Designer Top</a></h3>
                    <span class="price">$599.99</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#">
                        <img class="pic-1"
                            src="https://www.powerplanetonline.com/cdnassets/funda_silicona_samsung_galaxy_m10_02_ad_l.jpg">
                        <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-8.jpeg"> -->
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a class="add-to-cart" href="">Add to cart</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Designer Top</a></h3>
                    <span class="price">$599.99</span>
                </div>
            </div>
        </div>
    </div>
</div>