<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />



<div class="container" style="padding-top: 100px">
    <div id="element1" *ngIf="!showFilters">
        <input style="width: 400px" class="form-control" type="text" placeholder="Type keywords" aria-label="Search" [(ngModel)]="keyword">
    </div>

    <div style="display:inline-block; padding-left: 20px;" *ngIf=showFilters>
        <div class="dropdown" style="display:inline-block; padding-left: 20px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{manufacturerStr}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" 
                *ngFor="let manufacturer of mobileManufacturerList"
                (click)="setManufacturer(manufacturer)">{{manufacturer}}</a>
            </div>
        </div>
        <div id="element1" style="padding-left: 20px">
            <input style="width: 120px" class="form-control" type="number" placeholder="price (Rs.)" aria-label="price" [(ngModel)]="price">
        </div>
        <div class="dropdown" style="display:inline-block; padding-left: 20px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{variationStr}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let variation of variationList"
                 (click)="setVariation(variation)">{{variation}}</a>
            </div>
        </div>
    </div>
    <div id="element2" style="float: right;">
        <div class="custom-control custom-checkbox" style="display:inline-block; padding-right: 20px">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" (input)="toggleFilterSearch()">
            <label class="custom-control-label" for="defaultUnchecked">Filter</label>
        </div>
        <button type="button" class="btn btn-primary" style="width: 120px" (click)="getMobilesSearchList()">Search</button>
    </div>

    <div style="padding-left:40px;" *ngIf="!isFilledAllFields && showFilters"><p style="color:gray">Please fill out all the fields</p></div >

    <!-- THE SPECS OF THE PRODUCTS-->
    <div class="row" style="padding-top: 20px">
        <div class="col-md-3 col-sm-6" *ngFor="let mobile of mobilesList">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#">
                        <img class="pic-1"
                            src="{{mobile.imageUrl}}">
                        </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a (click)="addFavMobile(mobile)" data-tip="Add to Favourites"><i class="fa fa-shopping-bag"></i></a></li>
                        <!-- <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li> -->
                    </ul>
                    <a class="add-to-cart" (click)="addFavMobile(mobile)">Add to Favourites</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{mobile.mobile.modelName}}</a></h3>
                    <span class="price">Rs. {{mobile.price}}</span>
                </div>
            </div>
        </div>
    </div>
</div>