<section id="carerlog" class="secondary-color text-center scrollto clearfix">
    <div class="rosw clearfix">
        <div class="container">
            <div class="panel">
                <div class="panel-body">
                    <h4><i class="icon ion-ios-person"></i>Patient Notifications</h4>
                    <div *ngIf="patientNotifications!=NULL "style="height:300px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;">
                        <form [formGroup]="notificationGroup" (ngSubmit)="viewPatientEmergencyHistoryDetails()">
                            <div class="input-group mb-3" style="text-align: left">
                                <div class="list-group mt-4 mb-4 w-100">
                                    <div *ngFor="let notification of patientNotifications">
                                        <a class="list-group-item list-group-item-action">{{notification.message}}<p>
                                                {{notification.date.toLocaleString()}}</p></a>
                                    </div>
                                    <!-- <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a> -->
                                </div>
                            </div>
                        </form>
                    </div>

                    <h5 *ngIf="patientNotifications==NULL">Currently, the patient has no emergency notifications</h5>
                </div>
            </div>
        </div>
    </div>
</section>