<section id="pricing">
        <div class="container">
          <div class="title-block">
            <h2>{{options.t1_2}}</h2>
            <p>{{options.p1}}</p>
          </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let speciality of options.speciality" [class.featured] = "speciality.featured"> 
              <div class="pricing-box">
                <h3 class="demo">{{speciality.Sub1}}</h3>
                <h6>{{speciality.Main}}</h6>
                <small>{{speciality.Sub2}}</small>
                <p>{{speciality.Sub3}}</p>
                <div class="divider-light"></div>
                <ul>
                  <li><i class="icon ion-md-checkmark-circle-outline demo"></i>{{speciality.first}}</li>
                  <li><i class="icon ion-md-checkmark-circle-outline demo"></i>{{speciality.second}}</li>
                  <li><i class="icon ion-md-checkmark-circle-outline demo"></i>{{speciality.third}}</li>
                </ul>
                <div class="text-center">
                  <a href="/signup" class="btn btn-demo">{{speciality.Buttontext}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
