<!--The content below is only a placeholder and can be replaced.-->

<!-- N A V B A R -->
<app-header></app-header>
<!-- E N D  N A V B A R -->

<!-- H E R O -->
<!-- <app-hero></app-hero> -->
<!-- E N D  H E R O -->

<!-- E N D  M A R K E T I N G -->
<!-- <app-endmarketing></app-endmarketing> -->
<!-- E N D  M A R K E T I N G -->

<!-- T E S T I M O N I A L S -->
<!-- <app-testimonials></app-testimonials> -->
<!-- E N D  T E S T I M O N I A L S -->

<!-- P R I C I N G -->
<!-- <app-pricing></app-pricing> -->
<!-- E N D  P R I C I N G -->

<!-- C A L L  T O  A C T I O N -->
<!-- <app-calltoaction></app-calltoaction> -->
<!-- E N D  C A L L  T O  A C T I O N -->

<!--  F O O T E R  -->
<!-- <app-footer></app-footer> -->
<!--  E N D  F O O T E R  -->

<router-outlet></router-outlet>
<!-- <app-calltoaction></app-calltoaction> -->
<!-- <app-footer></app-footer> -->

