<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>


</head>

<body>


  <!-- Page Content -->
  <div class="container">

    <!-- <div class="row">
      <div class="col-sm-6">
        <div class="card bg-primary">
          <div class="card-body">
            <h5 class="card-title">Mr. Collins Munro</h5>
            <p class="card-text">ID: XXXXXXXXXXXX</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-warning">
          <div class="card-body">
            <h5 class="card-title">Current Body Temperatue</h5>
            <p class="card-text">37 celsius</p>
          </div>
        </div>
      </div>
    </div> -->

    <header class="jumbotron my-4">
      <h1 class="display-3" style="text-align: center">Real Time Heart Rate Data</h1>
      <p class="lead" style="text-align: center">{{patientDataStatus}}</p>
      <div *ngIf="isPatientAvailable">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>
      <!-- <div>
        <table>
          <tr>
            <td style= "width: 1050px; height: 50%;" id="line_chart"><canvas id="lineChart"></canvas></td>
            <td>
              
            </td>
          </tr>
        </table>
      </div> -->
      <!-- <a href="#" class="btn btn-success btn-lg">Change Patient</a> -->

      <!-- <div class="chart-container" style="position: relative; height:30vh; width:60vw">
            <canvas id="lineChart"></canvas>
      </div> -->

    </header>



    <!-- <div class="card w-100 mb-4 bg-danger">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; font-size: 1.8em; color: wheat">Current Status : {{patientCurrentStatus}}</h5> -->
        <!-- <div id="pdata">
               <p class="card-text" style="color: cyan; font-weight: bold">Patient ID:</p>
               <p class="card-text" style="color: cyan; font-weight: bold">Patient Name:</p>
               <p class="card-text" style="color: cyan; font-weight: bold">Patient Risk Level:</p>
            </div>
               <a href="#" class="btn btn-warning">View Patient Profile</a> -->
      <!-- </div> -->
    <!-- </div> -->

  </div>
  <!-- /.container -->


</body>

</html>