<section id="signup" class="secondary-color text-center scrollto clearfix">
    <div class="row clearfix">
        <div class="container">
            <div class="panel">
                <div class="panel-body">
                    <h4><i class="icon ion-md-create"></i>Contact Us</h4>
                    <form [formGroup]="contactusForm" (ngSubmit)="submit(contactusForm.value)">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg form-names" formControlName="fname" placeholder="First Name" name="fname">
                            <input type="text" class="form-control input-lg form-names" formControlName="lname" placeholder="Last Name" name="lname">
                            <!-- <span class="ion-md-person form-control-icon" style="padding-bottom: 15px"></span> -->
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" formControlName="email" placeholder="Email" name="email">
                            <!-- <span class="ion-md-mail form-control-icon"></span> -->
                        </div>
                        <div class="form-group">
                            <textarea rows="12" cols="25" class="form-control input-lg" id="comment" formControlName="comment" placeholder="Your Idea" name="comment"></textarea>
                            <span class="icon ion-md-create form-control-icon"></span>
                        </div>
                    <button type="submit" [class.disabled]=!contactusForm.valid class="btn btn-primary">Send</button>
                    <div>
                    <small>Leave us a message and we will contact you soon...<span><a href="#">Back to Home</a></span></small>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
