<section id="testimonials">
        <div class="container">
          <div class="title-block">
            <h2>{{testimonials.t1_2}}</h2>
            <p>{{testimonials.p1}}</p>
          </div>
          <div class="row">
            <div class="col-md-6" *ngFor="let feedbacks of testimonials.feedbacks">
              <div class="testimonial-box">
                <div class="row personal-info">
                  <div class="col-md-2 col-xs-2">
                    <div class="{{feedbacks.DP}}"></div>
                  </div>
                  <div class="col-md-10 col-xs-10">
                    <h6>{{feedbacks.name}} <span class="rating">{{feedbacks.rating}} <i class="icon ion-md-{{feedbacks.review}}"></i></span></h6>
                    <small>{{feedbacks.position}}</small>
                  </div>
                </div>
                <p>{{feedbacks.comment}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
