<section id="addDevice" class="secondary-color text-center scrollto clearfix">
    <div class="rosw clearfix">
        <div class="container">
            <div class="panel">
                <div class="panel-body" *ngIf="IoTDevicesList.length==0">
                    <h4><i class="icon ion-md-cog"></i>Add New Device</h4>
                    <form [formGroup]="addDeviceForm" (ngSubmit)="addNewIoTDevice()">
                        <div class="form-group">
                            <!-- <label id="target_patient" class="form-control input-lg">Details of the New Device</label> -->
                            <input type="text" class="form-control input-lg " formControlName="deviceName"
                                placeholder="Device Name" name="deviceName" required>

                            <!-- <input type="text" class="form-control input-lg form-names" formControlName="lname" placeholder="Last Name" name="lname"> -->
                        </div>
                        <!-- <div class="form-group">
                            <input type="text" class="Enckey" formControlName="DeviceID" placeholder="Key" name="Enckey">
                        </div>
                    
                        <div class="form-group">
                            <label id="relation" class="form-control input-lg">Device Type</label>
                            <div>
                                <input type="radio" formControlName="gender" value="OPS" > Optical Monitor
                                <input type="radio" formControlName="gender" value="ECG"> ECG
                            </div>
                        </div> -->
                        <div>
                            <label style="color: brown">{{formInvalidStr}}</label>
                        </div>

                        <button type="submit" class="btn btn-primary">Add</button>
                        <!-- <div>
                    <small>Already have an account <span><a href="#">Log in</a></span></small>
                    </div> -->
                    </form>
                </div>

            </div>
            <div class="panel-body card" style="margin-top: 10px">
                <div class="card-header">
                    Registered Device
                </div>

                <div class="card-body">
                    <ul>
                        <li *ngFor="let device of IoTDevicesList">
                            <div style="margin-top: 20px">
                                <p class="card-text">Device ID: {{device.sensorId}}</p>
                                <p class="card-text">Device Name: {{device.deviceName}}</p>
                                <p class="card-text">Device Key: {{device.aesKey}}</p>
                                <button style="background: brown" class="btn btn-primary btn-block mt-3" 
                                (click)="removeIoTDevice(device)">
                                Remove Device</button>
                            </div>

                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>