<section id="signup" class="secondary-color text-center scrollto clearfix">
    <div class="row clearfix">
        <div class="container">
            <div class="panel">
                <div class="panel-body">
                    <h4><i class="icon ion-ios-person"></i>Sign Up</h4>
                    <form [formGroup]="profileForm" (ngSubmit)="onSignupButtonClick()">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" formControlName="userName"
                                placeholder="User Name" name="fname" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" formControlName="userEmail"
                                placeholder="Email" name="email" required>
                            <!-- <span class="ion-md-mail form-control-icon"></span> -->
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" formControlName="password"
                                placeholder="Password" name="password" required>
                            <!-- <span class="ion-key form-control-icon"></span> -->
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" formControlName="confirmPassword"
                                placeholder="Confirm Password" name="confim_password" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <div>
                            <small>Already have an account <span style="color: blueviolet"><a (click)="goToLogin()">Log
                                        in</a></span></small>
                        </div>
                    </form>
                    <p style="color:red;">
                        {{ errorMessage }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>